{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Making a Day Trip to North Bay Python{% endblock %}

{% block heading %}Making a Day Trip to North Bay Python{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
    Boldly go where many have gone before: you can commute to North Bay Python each day, though you'll probably have to drive. Public transit is an option, but it's not great. You won't be able to spend as much time with fellow attendees, but you'll still have a great time!
{% endblock %}


{% block content %}
<ul>
    <li><a href="#transit">How to Get Here</a></li>
    <li><a href="#scheduling">Scheduling Your Visit</a></li>
    <li><a href="#food-and-activities">Food and Activities</a></li>
</ul>

<h2>How to Get Here<a name="transit"></a></h2>

<p>How you get here depends, naturally, on where you're coming from. Broadly, your options are: <a href="/go/fly">flying</a>, cab rides, public transit, ride sharing apps, or renting a car.</p>

<h3>Public Transit</h3>

<p>Public transit to Petaluma is currently not great. You can take the <a href="http://goldengatetransit.org/schedules/current/route_101.php">101 bus operated by Golden Gate Transit</a> from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.</p>

<p><a href="https://sonomamarintrain.org">SMART</a>, the new train service that runs along the 101 corridor, recently started operations. SMART is not suitable for getting to North Bay Python if you travel on weekends, as the first train leaves after proceedings start. SMART may be a better option than taking the bus between San Rafael and Petaluma if you travel up on weekdays.</p>

<h3>Driving and Carpooling</h3>

<p>If you're driving up, downtown Petaluma is at exit 472A on Highway 101, 35 miles north of the Golden Gate Bridge.</p>

<p>All parking is free in Petaluma, however near the Mystic, street-level parking is time-limited. All-day parking is available at street level west of 5th St (towards 6th St), and at the the undercover garages at Theatre Square and at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a>. Both garages are in short walking distance of the Mystic.</p>

<h2>Scheduling Your Visit<a name="scheduling"></a></h2>

<p>All the official events will take place on Friday, Saturday, and Sunday, from November 1st to 3rd. On Friday, we'll only have events in the evening. On Saturday and Sunday, events will run morning through evening, with the core conference going from 10:00am to 6:00pm.</p>

<p>If you live in the North Bay, we encourage you to join us for events all three days. If you live further afield, you may want to skip Friday and only join us on Saturday and Sunday.</p>

<h2>Food and Activities<a name="food-and-activities"></a></h2>

<p>Petaluma is right at the intersection of Sonoma, Napa, and Marin Counties. This three county region, which makes up the North Bay, is famous for its parkland, agriculture, fine food, wine, beer, and spirits. We've prepared a <a href="/food">food guide</a> which will help you find good eats in Petaluma, but if you're sticking around beyond the conference, you'll want to check out your favorite food or restaurant guide.</p>

<p>From family-friendly hikes to museums, wine tours to wind swept beaches, and lots of kid-friendly attractions, we encourage folks to bring their families along! We will offer free childcare for kids from 6 months to 12 years of age during the conference.</p>

{% endblock %}
