{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Flying to North Bay Python{% endblock %}

{% block heading %}Flying to North Bay Python{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
    Flying in for North Bay Python can be a breeze. A bus, train, or cab ride after landing in Santa Rosa, Oakland, or San Francisco, you can be ensconced in your accommodation and gearing up for the conference.
{% endblock %}

{% block content %}

<ul>
    <li><a href="#airports">All of the Airports</a></li>
    <li><a href="#transit">From Airport to Petaluma</a></li>
    <li><a href="#lodging">Lodging and Accommodation</a></li>
    <li><a href="#scheduling">Scheduling Your Visit</a></li>
    <li><a href="#food-and-activities">Food and Activities</a></li>
</ul>

<h2><em>All</em> of the Airports<a name="airports"></a></h2>

<p>You can get to Petaluma from any of six airports, three of which we recommend, one of which is <em>very</em> convenient if it's an option for you:</p>

<h3>Santa Rosa (STS)</h3>

<p>Charles M. Schulz Sonoma County Airport, in Santa Rosa, is just 25 miles away from the venue and offers the convenience of a small regional airport. With short lines, short walks, Snoopy statues, and the shortest distance from the venue, this is our #1 recommendation.</p>

<p>You can get to and from the airport in about 30 minutes with a <a href="https://sonomacountyairport.org/passengers/ground-transportation/#taxiorshuttle">taxi cab</a>, <a href="https://sonomacountyairport.org/passengers/ground-transportation/#busandtransit">bus</a>, or <a href="https://sonomacountyairport.org/passengers/ground-transportation/#smart">train with a short cab ride</a>. You could <a href="https://sonomacountyairport.org/passengers/ground-transportation/#carrental">rent a car</a>, but you won't need it unless you're planning to explore the North Bay while you're in town.</p>

<p>You can fly into Santa Rosa through many airports, including: Portland (PDX), Los Angeles (LAX), Seattle (SEA), San Diego(SAN), Santa Ana (SNA), Phoenix (PHX), Dallas (DFW), Denver (DEN), and Minneapolis (MSP). You <em>could</em> fly from San Francisco (SFO) if you really wanted to, but we don't recommend it!</p>

<h3>Oaklank (OAK) and San Francisco (SFO)</h3>

<p>The airports in Oakland and San Francisco are about 50 miles away from the venue and have many more connecting flights. Because of their distance from the venue, travel times are very subject to freeway traffic and can range from 60 to 90 minutes. Upon arrival, we recommend taking the <a href="https://airportexpressinc.com/schedule.php">express bus</a>; it's faster and cheaper than weaving together public transit systems to get here.</p>

<h3>Sacramento (SMF) or San Jose (SJC)</h3>
<p>The airports in Sacramento and San Jose are about 85 miles away from the venue and aren't recommended, but are options available to you. You'll probably need to rent a car.</li>

<h3>Petaluma (O69)</h3>
<p>If you happen to be a pilot, or be willing to charter a flight, you can flight directly into town through <a href="https://cityofpetaluma.net/pubworks/airport.html">Petaluma Municipal Airport</a>!</p>

<h2>From Airport to Petaluma<a name="transit"></a></h2>

<p>How you get to Petaluma from the airport depends, naturally, on which airport you're flying into. Per airport details are provided above, but broadly your options are: cab rides, express shuttles, public transit, ride sharing apps, or renting a car.</p>

<p>Depending on which airport you use, you'll be in town within 30 to 90 minutes. If you need to park a car, take note: all parking is free in Petaluma, however street-level praking is time-limited near the venue. All-day parking is available at street level west of 5th Street (towards 6th Street), and at the garages at Theatre Square and at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a>. Both garages are in short walking distance of the venue.</p>

<h2>Lodging and Accommodation<a name="lodging"></a></h2>

<p>You'll probably want to stay at one of the hotels in Petaluma, but there are options nearby in Rohnert Park, or in Sonoma Valley if you'd like an extra dose of scenery. If you're feeling adventurous, you could even stay out on the coast in Bodega Bay or up in Santa Rosa. But staying in Petaluma near the venue means you'll have a very walkable weekend; you won't need to worry about driving or getting rides at all!</p>

<p>Check out our <a href="/attend/hotels">Where to Stay</a> page for more details on hotels and other options, including links to discounted rooms.</p>

<h2>Scheduling Your Visit<a name="scheduling"></a></h2>

<p>All the official events will take place on Friday, Saturday, and Sunday, from November 1st to 3rd, so we recommend you arrive Friday afternoon (at the latest) and depart on Sunday evening (at the earliest).</p>

<p>Many people choose to arrive Thursday evening and depart Monday morning, for convenience. Lots of attendees choose to start their visit even earlier, or stay longer, so they have time to explore our landmarks, expansive parkland, and world class hospitality.</p>

<h2>Food and Activities<a name="food-and-activities"></a></h2>

<p>Petaluma is right at the intersection of Sonoma, Napa, and Marin Counties. This three county region, which makes up the North Bay, is famous for its parkland, forests, agriculture, fine food, wine, beer, and spirits. There's a lot to do here and we encourage you to explore while you're here!</p>

<p>We've prepared a <a href="/food">food guide</a> which will help you find good eats in Petaluma, but if you're sticking around beyond the conference, you'll want to check out your favorite food or restaurant guide. We've also put together a <a href="/attend/transit">transit guide</a> to help you get around town once you're here.</p>

<p>From family-friendly hikes to museums, wine tours to wind swept beaches, and lots of kid-friendly attractions, we encourage folks to bring their families along and stay as long as they can! We will offer free childcare for kids from 6 months to 12 years of age during the conference.</p>

{% endblock %}
