{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Flying to North Bay Python{% endblock %}

{% block heading %}Flying to North Bay Python{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
    Flying in for North Bay Python can be a breeze. A single bus, train, or cab ride after landing in Santa Rosa, Oakland, or San Francisco, you can be ensconced in your accommodation and getting ready for the conference.
{% endblock %}

{% block content %}
<h2><em>All</em> of the Airports</h2>

<p>You can get to Petaluma from any of six airports, three of which we recommend, one of which is <em>very</em> convenient if it's an option for you:</p>

<h3>Santa Rosa (STS)</h3>

<p>Charles M. Schulz Sonoma County Airport, in Santa Rosa, is just 25 miles away from the venue and offers the convenience of a small regional airport. With short lines, short walks, Snoopy statues, and the shortest distance from the venue, this is our #1 recommendation.</p>

<p>You can get to and from the airport in about 30 minutes with a <a href="https://sonomacountyairport.org/passengers/ground-transportation/#taxiorshuttle">taxi cab</a>, <a href="https://sonomacountyairport.org/passengers/ground-transportation/#busandtransit">bus</a>, or <a href="https://sonomacountyairport.org/passengers/ground-transportation/#smart">train with a short cab ride</a>. You could <a href="https://sonomacountyairport.org/passengers/ground-transportation/#carrental">rent a car</a>, but you won't need it unless you're planning to explore the North Bay while you're in town.</p>

<p>You can fly into Santa Rosa through many airports, including: Portland (PDX), Los Angeles (LAX), Seattle (SEA), San Diego(SAN), Santa Ana (SNA), Phoenix (PHX), Dallas (DFW), Denver (DEN), and Minneapolis (MSP). You <em>could</em> fly from San Francisco (SFO) if you really wanted to, but we don't recommend it!</p>

<h3>Oaklank (OAK) and San Francisco (SFO)</h3>

<p>The airports in Oakland and San Francisco are about 50 miles away from the venue and have many more connecting flights. Because of their distance from the venue, travel times are very subject to freeway traffic and can range from 60 to 90 minutes. Upon arrival, we recommend taking the <a href="https://airportexpressinc.com/schedule.php">express bus</a>; it's faster and cheaper than weaving together public transit systems to get here.</p>

<h3>Sacramento (SMF) or San Jose (SJC)</h3>
<p>The airports in Sacramento and San Jose are about 85 miles away from the venue and aren't recommended, but are options available to you. You'll probably need to rent a car.</li>

<h3>Petaluma (O69)</h3>
<p>If you happen to be a pilot, or be willing to charter a flight, you can flight directly into town through <a href="https://cityofpetaluma.net/pubworks/airport.html">Petaluma Municipal Airport</a>!</p>

<h2>From Airport to Petaluma</h2>

<p>How you get to Petaluma from the airport depends, naturally, on which airport you're flying into. Per airport details are provided above, but broadly your options are: cab rides, express shuttles, public transit, ride sharing apps, or renting a car.</p>

<p>Depending on which airport you use, you'll be in town within 30 to 90 minutes. If you need to park a car, take note: all parking is free in Petaluma, however street-level praking is time-limited near the venue. All-day parking is available at street level west of 5th Street (towards 6th Street), and at the garages at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a> and at Theatre Square. Both garages are in short walking distance of the venue.</p>

<!--
    - hotels

    - schedule

    - getting around Petaluma, Sonoma County, and the North Bay
    - food
    - activities
-->

{% endblock %}
