{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}How to Get Here{% endblock %}

{% block heading %}How to Get Here{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
  Most people in this world don't live in Petaluma, possibly including you. If you want to come to North Bay Python, then you'll need to get here somehow. The good news is that it's reasonably easy to get here, whether you're coming from Sonoma County, elsewhere in the Bay Area, or from further out of town.
{% endblock %}


{% block content %}

<p>While this page offers an overview of travel information, we've put together a few special guides for travelers:</p>

<ul>
  <li><a href="/go/fly">Flying to North Bay Python</a></li>
  <li><a href="/go/day-trip">Making day trips to North Bay Python</a></li>
  <li><a href="/go/stay">Staying the weekend (or more) for North Bay Python</a></li>
</ul>

<h2>Driving and Parking</h2>

<p>If you're driving up, Downtown Petaluma is at exit 472A on Highway 101, 35 miles north of the Golden Gate Bridge.</p>

<p>All parking is free in Petaluma, however near the Mystic, street-level parking is time-limited. All-day parking is available at street level west of 5th St (towards 6th St), and at the the undercover garages at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a> and at Theatre Square. Both garages are in short walking distance of the Mystic.</p>


<h2>Public Transit</h2>

<p>Public transit to Petaluma is currently not great. You can take the <a href="http://goldengatetransit.org/schedules/current/route_101.php">101 bus operated by Golden Gate Transit</a> from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.</p>

<p><a href="https://sonomamarintrain.org">SMART</a>, the new train service that runs along the 101 corridor, recently started operations. SMART is not suitable for getting to North Bay Python if you travel on weekends, as the first train leaves after proceedings start. SMART may be a better option than taking the bus between San Rafael and Petaluma if you travel up on weekdays.</p>


<h2>Flying</h2>

<p>Petaluma is within driving distance of all Bay Area airports, and each airport has varying levels of public transit links to Petaluma. We've prepared a special guide on <a href="/go/fly">how to fly to North Bay Python</a>.</p>

{% endblock %}
