{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Staying in Town for North Bay Python{% endblock %}

{% block heading %}Staying in Town for North Bay Python{% endblock %}

{% block body_class %}attend{% endblock %}

{% block lede %}
    You'll enjoy North Bay Python more if you stay in town! Staying in a hotel within walking distance from the venue, and near dozens of great restaurants, makes it much easier to meet other attendees and get that much more sleep every morning.
{% endblock %}


{% block content %}
<ul>
    <li><a href="#transit">How to Get Here</a></li>
    <li><a href="#lodging">Lodging and Accommodation</a></li>
    <li><a href="#scheduling">Scheduling Your Visit</a></li>
    <li><a href="#food-and-activities">Food and Activities</a></li>
    <li><a href="#financial-aid">Financial Aid</a></li>
</ul>

<h2>How to Get Here<a name="transit"></a></h2>

<p>How you get here depends, naturally, on where you're coming from. Broadly, your options are: <a href="/go/fly">flying</a>, cab rides, public transit, ride sharing apps, or renting a car.</p>

<h3>Public Transit</h3>

<p>Public transit to Petaluma is currently not great. You can take the <a href="http://goldengatetransit.org/schedules/current/route_101.php">101 bus operated by Golden Gate Transit</a> from downtown San Francisco, or south from Santa Rosa. Depending on sponsorship, we hope to run a free shuttle with BART and Caltrain connections for people from further out of town.</p>

<p><a href="https://sonomamarintrain.org">SMART</a>, the new train service that runs along the 101 corridor, recently started operations. SMART is not suitable for getting to North Bay Python if you travel on weekends, as the first train leaves after proceedings start. SMART may be a better option than taking the bus between San Rafael and Petaluma if you travel up on weekdays.</p>

<h3>Driving</h3>

<p>If you're driving up, downtown Petaluma is at exit 472A on Highway 101, 35 miles north of the Golden Gate Bridge.</p>

<p>All parking is free in Petaluma, however near the Mystic, street-level parking is time-limited. All-day parking is available at street level west of 5th St (towards 6th St), and at the the undercover garages at Theatre Square and at <a href="https://www.google.com/maps/place/Keller+Street+Parking+Garage">Keller St</a>. Both garages are in short walking distance of the Mystic.</p>

<h2>Lodging and Accommodation<a name="lodging"></a></h2>

<p>You'll probably want to stay at one of the hotels in Petaluma, but there are options nearby in Rohnert Park, or in Sonoma Valley if you'd like an extra dose of scenery. If you're feeling adventurous, you could even stay out on the coast in Bodega Bay or up in Santa Rosa. But staying in Petaluma near the venue means you'll have a very walkable weekend; you won't need to worry about driving or getting rides at all!</p>

<p>Check out our <a href="/attend/hotels">Where to Stay</a> page for more details on hotels and other options, including links to discounted rooms.</p>

<h2>Scheduling Your Visit<a name="scheduling"></a></h2>

<p>All the official events will take place on Friday, Saturday, and Sunday, from November 1st to 3rd, so we recommend you arrive Friday afternoon (at the latest) and depart on Sunday evening (at the earliest).</p>

<p>Many people choose to arrive Thursday evening and depart Monday morning, for convenience. Lots of attendees choose to start their visit even earlier, or stay longer, so they have time to explore our landmarks, expansive parkland, and world class hospitality.</p>

<h2>Food and Activities<a name="food-and-activities"></a></h2>

<p>Petaluma is right at the intersection of Sonoma, Napa, and Marin Counties. This three county region, which makes up the North Bay, is famous for its parkland, forests, agriculture, fine food, wine, beer, and spirits. There's a lot to do here and we encourage you to explore while you're here!</p>

<p>We've prepared a <a href="/food">food guide</a> which will help you find good eats in Petaluma, but if you're sticking around beyond the conference, you'll want to check out your favorite food or restaurant guide. We've also put together a <a href="/attend/transit">transit guide</a> to help you get around town once you're here.</p>

<p>From family-friendly hikes to museums, wine tours to wind swept beaches, and lots of kid-friendly attractions, we encourage folks to bring their families along and stay as long as they can! We will offer free childcare for kids from 6 months to 12 years of age during the conference.</p>

<h2>Financial Aid<a name="financial-aid"></a></h2>

<p>If your employer isn't paying for you to attend North Bay Python, then you should apply for financial aid. If you're hesitating about applying for financial aid, don't.</p>

<p>We're a 501(c)(3) nonprofit and our priority is accessibility. Our goal is for attending North Bay Python to cost about as much as staying home. Learn more about our <a href="/financial-aid">financial aid</a> program, including application process, timelines, and policies. Don't worry, it's easier than it sounds!</p>

{% endblock %}
