{% extends "page_with_title_and_lede.html" %}

{% load i18n %}

{% block head_title %}Petaluma{% endblock %}

{% block heading %}Petaluma{% endblock %}

{% block body_class %}about{% endblock %}

{% block lede %}
  The best town you probably haven't visited yet.
{% endblock %}


{% block content %}

<p>North Bay Python's home is Petaluma, a delightfully quaint dairy town, nestled on a river at the southern edge of California's Wine Country and at the intersection of Sonoma, Napa, and Marin Counties. This three county region, which makes up the North Bay, is famous for its parkland, forests, agriculture, fine food, wine, beer, and spirits.</p>

<p>We've got beautiful scenery right on our doorstep, and we're less than an hour's drive from San Francisco over the Golden Gate Bridge.</p>

<p>Our venue, The Mystic Theatre, is not the only local example of early 1900s architecture, either: Downtown is full of great examples of Victorian-era buildings that survived the 1906 earthquake. Just down the road, you'll find the center of the maker movement and a thriving craft brewery scene.</p>

<p>From family-friendly hikes to museums, wine tours to wind swept beaches, and lots of kid-friendly attractions, there's a lot to do in see in the region. We encourage attendees to bring their families and extend their stay beyond the conference!</p>


<h2>Travel and Lodging</h2>

<p>The Golden Gate Bridge is well-known to San Franciscans for being a million miles long and ever shrouded in fog, so few ever cross up into the North Bay. Happily, the trek north can be easy, if not swift.</p>

<p>Regardless of where you're coming from, we've got guides on <a href="/go/fly">how to fly to North Bay Python</a>, <a href="/go/day-trip">how to make day trips from elsewhere in the Bay Area</a>, and <a href="/go/stay">how to make a weekend of it and stay around Petaluma</a>. We've got an overview focused on travel on the <a href="/attend/travel">How to Get Here</a> page.</p>

<p>When you get here, you're sure to find a nice place to stay that fits your budget. You can find a range of options, and some special discounts, available on the <a href="/attend/hotels">Where to Stay</a> page. {% comment %}We'll have group rates and discounts at local hotels when tickets are available.{% endcomment %}</p>

<p>To make your visit even better, we've prepared a <a href="/food">food guide</a> which will help you find good eats in Petaluma. If you're sticking around beyond the conference or looking further afield, you'll want to check out your favorite food or restaurant guide.</p>

{% endblock %}
