{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load schedule_tags %}

{% block head_title %}November 2 and 3, 2019{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg website-background"></div>
  <div class="jumbotron homepage-block dark smaller">


    <div class="homepage-block-bg hphbg"></div>
    <div class="container homepage-block-content-cloudsep">
          <div class="logo large left" style="margin: 20px;">
            <div class="circle">
              <div class="fill" style="background-image: url('{% static "images/logo.svg" %}');"></div>
            </div>
          </div>
          <h1 class="homepage-title">North Bay<br/>
            Python
          </h1>
      <h2 class="homepage-subtitle">
        <span class="wrap-break">A one-track Python conference,</span> <span class="wrap-break">north of the Golden Gate.</span><br/>
        <span class="wrap-break">November 2 &amp; 3, 2019.</span>
        <span class="wrap-break">Mystic Theatre, Petaluma, California.</span>
      </h2>
    </div>
    <div class="homepage-block-bloop">
      <div class="grey-gradient main"></div>
      <div class="clouds main"></div>
    </div>
  </div>

  <div class="jumbotron homepage-block dark shallow">
    <div class="container homepage-block-footer">
      <div class="row">
        <div class="col-md-8">
          <p class="">
            <span class="wrap-break"><a href="/attend">Early Bird Tickets on sale now!</a></span>
            <span class="wrap-break">Session and Headline Speakers announced soon.</span>
          </p>
        </div>
        <div class="col-md-4  email-signup-panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title homepage-title">Sign up for our newsletter</h4>
            </div>
            <div class="panel-body">
              <form
                class="form-inline"
                action="https://tinyletter.com/northbaypython" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/northbaypython', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="form-group">
                  <span>
                    <label class="hidden-accessible" for="tlemail">Email address:</label>
                  </span>
                  <span>
                    <input class="form-control" type="email" name="email" id="tlemail" placeholder="E-mail address"/>
                  </span>
                </div>
                <span>
                  <input class="btn btn-primary" type="submit" value="Subscribe" />
                </span>

                <input type="hidden" value="1" name="embed"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Homepage content begins here -->
  <div class="homepage-vertical-space"></div>
  <div class="homepage-vertical-space"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>One Hour from San Francisco</h1>
        <p class="lead">
          <span class="wrap-break">Whether you're from Sonoma County,</span>
          <span class="wrap-break">from the Bay Area, </span>
          <span class="wrap-break">or flying here for the first time,</span>
          <span class="wrap-break">North Bay Python in Petaluma is easy to get to.</span>
        </p>
      </div>
    </div>

    <div class="row">

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/go/fly">Fly</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/snoopy.jpg" %}');"></div>
          <p>
            Fly into Sonoma County Airport at Santa Rosa, 30 minutes away.
            Or, we're an express bus ride away from San Francisco and Oakland
            international airports.
          </p>
        </div>
      </div>

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/go/stay">Stay</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/golden-gate.jpg" %}');"></div>
          <p>
            Drive 35 miles North of the Golden Gate Bridge, or take transit from
            downtown San Francisco, and spend the night.
          </p>
        </div>

      </div>

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/go/day-trip">Day Trip</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/mystic-marquee-2017.jpg" %}');"></div>
          <p>Enjoy free all-day parking close to the venue, or take regular buses from San Francisco, Marin County, and Sonoma County</p>
        </div>
      </div>

    </div>

    <div class="homepage-vertical-space"></div>

    <div class="row">
      <div class="col-xs-12">
        <h1>Inclusion and Diversity</h1>
        <p class="lead">We're a conference for everyone in Northern California. Every aspect of our planning
          focuses on improving access, diversity, and inclusion within our Python community.</p>
      </div>
    </div>

    <div class="row">

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/code-of-conduct">Attendee Safety</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/4th-street-parade.jpg" %}');"></div>
          <p>We take our code of conduct seriously: our staff have taken enforcement training.</p>
        </div>
      </div>

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/opportunity-grant">Opportunity Grants</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/django-girls-2014.jpg" %}');"></div>
          <p>If you live out of town, we want to make sure you can attend.</p>
        </div>
      </div>

      <div class="homepage-callout">
        <div class="callout-image">
          <h3 class="txt"><a href="/program/selection-process">Diversity Targets</a></h3>
          <div class="filter"></div>
          <div class="bg" style="background-image: url('{% static "images/homepage/old-bank.jpg" %}');"></div>
          <p>We want to look like the  Bay Area. We have diversity targets for our speakers and audience.</p>
        </div>
      </div>

    </div>

    <div class="homepage-vertical-space"></div>

  </div>


{% endblock %}
