{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load schedule_tags %}

{% block head_title %}November 3 and 4, 2018{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg website-background"></div>
  <div class="jumbotron homepage-block light">
    <div class="homepage-block-bg hphbg"></div>
    <div class="floop"></div>
    <div class="hills main"></div>
    <div class="clouds main"></div>
    <div class="container homepage-block-content">
      <div class="tight-headings">
        <h1>North Bay Python</h1>
        <h2 class="homepage-subtitle">The Python conference in a live music venue</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>
            The Mystic Theatre <br/>
            Petaluma, California
          </h3>

          <h4>
            November 3 &amp; 4, 2018<br/>
            Tickets on sale now!
          </h4>
        </div>

      </div>

    </div>

    <div class="container homepage-block-footer">
      <div>
        <a class="btn btn-primary btn-lg" href="/attend">Buy a Ticket!</a>
        <a class="btn btn-default btn-lg " href="https://twitter.com/northbaypython">Twitter</a>
        <a class="btn btn-default btn-lg" href="https://facebook.com/northbaypython">Facebook</a>
      </div>
    </div>
  </div>

  <div class="jumbotron homepage-block white">
    </div>
{% endblock %}
