{% extends "site_base_home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load schedule_tags %}

{% block head_title %}November 3 and 4, 2018{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div class="homepage-block-bg website-background"></div>
  <div class="jumbotron homepage-block dark smaller">


    <div class="homepage-block-bg hphbg"></div>
    <div class="container homepage-block-content-cloudsep">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="logo large left" style="margin: 20px;">
            <div class="circle">
              <div class="fill" style="background-image: url('{% static "images/logo.svg" %}');"></div>
            </div>
          </div>
          <h1 class="homepage-title">North Bay<br/>
            Python
          </h1>
        </div>
      </div>
      <h2 class="homepage-subtitle text-center">
        <span class="wrap-break">A one-track Python conference,</span> <span class="wrap-break">north of the Golden Gate.</span><br/>
        <span class="wrap-break">November 2 &amp; 3, 2019.</span>
        <span class="wrap-break">Mystic Theatre, Petaluma, California.</span>
      </h2>
    </div>
    <div class="homepage-block-bloop">
      <div class="grey-gradient main"></div>
      <div class="clouds main"></div>
    </div>
  </div>
  <div class="jumbotron homepage-block dark shallow">


  <div class="container homepage-block-footer">
    <p class="text-center">Talk proposal submissions now open until August 8th.<br />
      Submit your proposal now!</p>
  </div>
  </div>

  <div class="jumbotron homepage-block white">
    </div>
{% endblock %}
